.profile-page {
  height: 100%;
  background-color: #1c1d21;
  background-image: url("../../public/profile-bg.svg");
  background-size: cover;
}
.profile-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-header {
  background-color: #26272c;
  display: flex;
  flex-direction: row-reverse;
  padding: 12px 22px 12px 0px;
}
.profile-page-content {
  display: flex;
  margin: 78px 0 0 66px;
  justify-content: space-between;
}
.profile-avatar {
  border-radius: 300px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.profile-top-block {
  display: flex;
}
.profile-top-block-right-column {
  margin: 0 0 0 24px;

  display: flex;
  flex-direction: column;
}
.profile-page-buttons {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}
.profile-gallery-block {
  width: 60%;
  height: 460px;
}
.profile-name {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
}
.profile-email {
  font-weight: 500;
  color: #ffffff93;
}
