.publication-page {
  height: 100%;
  background-color: #1c1d21;
  background-image: url("../../public/profile-bg.svg");
  background-size: cover;
}
.publication-page-header {
  background-color: #26272c;
  display: flex;
  flex-direction: row;
  padding: 23px;
}
.publication-page-block {
  display: flex;
  margin: 57px;
}
.publication-page-column {
}
.publication-page-image {
  width: 550px;
  height: 400px;
  object-fit: cover;
}
.publication-page-comments {
  margin-left: 24px;
}
.publication-page-footer {
  margin-left: 57px;
}
.publication-page-footer-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.publication-page-description {
  width: 1180px;
  word-wrap: break-word;
}
