.search-block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 20px;
  padding: 0 10px;
}

.categorie {
  color: gray;
}
.categorie.selected {
  color: #9c6fe4;
}
.search-categories {
  padding: 8px;
  overflow-y: auto;
}
