.search-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}

.search-form {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 20px;
  padding: 0 10px;
}

.categorie {
  color: gray;
}
.categorie.selected {
  color: white;
}
