.sidebar {
  width: 80px;
  background-color: #9c6fe4;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.main-navigation li {
  list-style: none;
  text-decoration: none;
  margin: auto;
}

.sidebar-notification {
  position: absolute;
  top: 30px;
  left: 22px;
}

.navbar-ico {
  width: 35px;
  height: 35px;
}
